body {
    background: rgb(255, 250, 227);
    color: black;
}
#count {
    text-align: center;
}
#btn {
    margin-left: 40%;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient(rgb(255, 219, 61), rgb(248, 173, 34));
    margin-bottom: 5rem;
}
#btm {
    background-color: rgb(247, 212, 14);
    border-radius: 1rem;
}
#btj {
     background-color: rgb(184, 218, 65);
    border-radius: 1rem;
}
#bth {
    background-color: rgb(250, 170, 66);
    border-radius: 1rem;
}
#btl {
     background-color: rgb(229, 66, 235);
    border-radius: 1rem;
}
#btr {
     background-color: rgb(243, 73, 73);
    border-radius: 1rem;
}
.upgrades {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: baseline;
}
